.main{
    width: 100%;
    height: 100%;
    background-color: rgb(255 102 203 / 80%);
}
.char-body{
    width: 289px;
    height: 295px;
    border-radius: 200px;
}
.title-sub{
    color: #FFF;
    font-family: Goblin One;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 17.92px;
    margin-left: 84px;
}
